<h1>Check-In App</h1>

<mat-form-field appearance="fill">
  <mat-label>Select a member</mat-label>
  <input type="text" matInput [(ngModel)]="selectedMember" [matAutocomplete]="autoMembers" (input)="filterMembers()">
  <mat-autocomplete #autoMembers="matAutocomplete" [autoActiveFirstOption]="false">
    <mat-option *ngFor="let member of filteredMembers" [value]="member">
      {{ member }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<button (click)="addToParticipants()">Check In</button>

<div>
  <h2>Checked-In Participants</h2>
  <ul>
    <li *ngFor="let participant of participants">
      {{ participant }}
    </li>
  </ul>
</div>


<mat-form-field appearance="fill">
  <mat-label>Select a participant</mat-label>
  <input type="text" matInput [(ngModel)]="selectedParticipant" [matAutocomplete]="autoParticipants" (input)="filterParticipants()">
  <mat-autocomplete #autoParticipants="matAutocomplete" [autoActiveFirstOption]="false">
    <mat-option *ngFor="let participant of filteredParticipants" [value]="participant">
      {{ participant }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<button (click)="removeFromParticipants()">Check Out</button>

<div><button (click)="exportToExcel()">Export to Excel</button></div>
